<div class="result">
    {{#each docs}}
        <div class="result-inner">
            <h2 class="title">
                {{title}}
            </h2>

            <p class="url">
                {{url}}
            </p>

            <p class="summary">
                {{summary}}
            </p>
        </div>
    {{/each}}
</div>